/*general style*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
}

header {
    font-size: 30px;
    color: #8d9db6;
}

/*style code*/
code {
    display: block;
    line-height: 2;
    background-color: #f7f7f7;
    font-size: 12px;
    max-width: 900px;
    color: grey;
    text-align: left;
    padding: 25px;
}

/*specify style*/
/*flexbox container max-width to maintain the proportion of the screen*/
.container {
    display: flex;
    max-width: auto;
    margin: 0 auto;
}

/*the size that the menu will take on the whole screen*/
.menu {
    width: 300px;
}

.menu header {
    background: #667292;
    border: solid black 0.5px;
    padding: 11px;
    margin: 0px;
    color: #f1e3dd;
}

/*the size that the information part will take and that it does not deform itself, in very large screens*/
.article {
    max-width: 1000px;
    margin-left: 45px;
}

.menu ul li {
    background: #667292;
    text-decoration: none;
    list-style: none;
    border: solid black 0.5px;
    padding: 11px;
    margin: 0px;
}

.menu {
    background: #667292;

}

/*space between menu and article*/
section {
    margin: 15px;
}

.menu a {
    /* remove style */
    text-decoration: none;
    color: #f1e3dd;
}

/*Menu flexbox using sticky to keep the same on the screen, while the articles are traversed*/
.menu {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100vh;
    position: sticky;
    top: 0;
}

/*flebox is created to modify the direction off the li and scroll menu*/
.submenu {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

/* This query was necessary for changing the size of the elements on mobile cellphone*/
@media only screen and (max-width: 800px) {

    /*this flexbox is used in the menu is 100% on the screen and the entire article is below it*/
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    /* put the menu in an exact size which is not deformed*/
    .menu {
        width: 100%;
        display: flex;
        position: relative;
        max-height: 250px;
        height: 250px;
    }

    .menu header {
        text-align: center;
    }

    main {
        margin: 20px;
    }
}